<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script>
      var datas = <%- JSON.stringify(items) %>
      var path = <%- JSON.stringify("/comet/" + types.join(",")) %>
    </script>
  </head>  
  <body>
  </body>
</html>